{% extends 'base.html' %}

{% block title %}Agregar Vehículo{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4">
        <h2 class="mb-4 text-center text-primary">Agregar Nuevo Vehículo</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_cliente" class="form-label">Cliente:</label>
                <select class="form-select" id="id_cliente" name="cliente" required>
                    <option value="">Seleccione un cliente</option>
                    {% for cli in clientes %}
                        <option value="{{ cli.pk }}">{{ cli.nombre }} {{ cli.apellido }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="id_matricula" class="form-label">Matrícula:</label>
                    <input type="text" class="form-control" id="id_matricula" name="matricula" required>
                </div>
                <div class="col-md-6">
                    <label for="id_marca" class="form-label">Marca:</label>
                    <input type="text" class="form-control" id="id_marca" name="marca" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="id_modelo" class="form-label">Modelo:</label>
                    <input type="text" class="form-control" id="id_modelo" name="modelo" required>
                </div>
                <div class="col-md-6">
                    <label for="id_anio" class="form-label">Año:</label>
                    <input type="number" class="form-control" id="id_anio" name="anio" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="id_kilometraje" class="form-label">Kilometraje:</label>
                <input type="number" class="form-control" id="id_kilometraje" name="kilometraje" required>
            </div>
            <div class="mb-3">
                <label for="id_imagen" class="form-label">Imagen del Vehículo:</label>
                <input type="file" class="form-control" id="id_imagen" name="imagen" accept="image/*">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary mt-3"><i class="fas fa-plus-circle me-2"></i>Agregar Vehículo</button>
                <a href="{% url 'ver_vehiculo' %}" class="btn btn-secondary mt-2"><i class="fas fa-arrow-left me-2"></i>Cancelar y Volver</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}